body {
  margin: 0;
  font-family: "Nunito",  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Colors*/
/*Fonts*/
body {
  background: #e1dddc;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*Reset Heading*/
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Reset Ul*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Start Style*/
.wrapper {
  max-width: 600px;
  padding: 20px;
  margin: auto;
  position: relative;
}
.wrapper .services__header {
  text-align: center;
  background: #2f1a19;
  width: 500px;
  height: 50px;
  line-height: 50px;
  margin: 30px auto;
  position: relative;
}
.wrapper .services__header h1 {
  font-family: "Poppins", sans-serif;
  text-shadow: 5px 5px 10px #f75d00;
  color: #fffefc;
  letter-spacing: 2px;
}
.wrapper .services__header::before, .wrapper .services__header::after {
  content: "";
  position: absolute;
  top: 0%;
  border: 25px solid #ddd;
}
.wrapper .services__header::before {
  border-color: transparent transparent transparent #ddd;
  left: 0;
}
.wrapper .services__header::after {
  border-color: transparent #ddd transparent transparent;
  right: 0;
}
.wrapper .services__plan {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 1.8rem;
  perspective: 100px;
}
.wrapper .services__plan--e, .wrapper .services__plan--f {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fffefc;
  box-shadow: 0px 9px 4px #ece8e8 inset;
  padding: 25px;
  width: 100%;
  margin-top: 30px;
  min-height: 110px;
  position: relative;
  perspective-origin: bottom center;
  perspective: 100px;
  transition: all 0.5s ease;
}
.wrapper .services__plan--e.active, .wrapper .services__plan--f.active {
  background: #2f1a19;
  box-shadow: none;
  transform: translateY(-3%) scale(1.1);
  z-index: 1;
}
.wrapper .services__plan--e.active .white--text, .wrapper .services__plan--f.active .white--text {
  color: #fffefc;
}
.wrapper .services__plan--e.active::before, .wrapper .services__plan--f.active::before {
  background: #775651;
}
.wrapper .services__plan--e:hover, .wrapper .services__plan--f:hover {
  cursor: pointer;
}
.wrapper .services__plan--e:before, .wrapper .services__plan--f:before {
  content: "";
  position: absolute;
  transform: rotateX(-17deg);
  width: calc(100% - 20px);
  height: 23px;
  bottom: -22px;
  left: 8px;
  background: #bdbcbb;
}
.wrapper .services__plan--e .e__info h2,
.wrapper .services__plan--e .f__info h2, .wrapper .services__plan--f .e__info h2,
.wrapper .services__plan--f .f__info h2 {
  font: 100 24px "Poppins", sans-serif;
  color: #f75d00;
}
.wrapper .services__plan--e .e__info h2::first-letter,
.wrapper .services__plan--e .f__info h2::first-letter, .wrapper .services__plan--f .e__info h2::first-letter,
.wrapper .services__plan--f .f__info h2::first-letter {
  font: bold 24px "Nunito", sans-serif;
}
.wrapper .services__plan--e .e__info p,
.wrapper .services__plan--e .f__info p, .wrapper .services__plan--f .e__info p,
.wrapper .services__plan--f .f__info p {
  font: 100 14px "Nunito", sans-serif;
  color: #9a837d;
}
.wrapper .services__plan--e .e__info span,
.wrapper .services__plan--e .f__info span, .wrapper .services__plan--f .e__info span,
.wrapper .services__plan--f .f__info span {
  font: 900 16px "Nunito", sans-serif;
}
.wrapper .services__plan--e .f__info span, .wrapper .services__plan--f .f__info span {
  color: #242424;
}
.wrapper .services__plan--e .e__duration,
.wrapper .services__plan--e .f__duration, .wrapper .services__plan--f .e__duration,
.wrapper .services__plan--f .f__duration {
  align-self: flex-end;
  height: 60px;
}
.wrapper .services__plan--e .e__duration p,
.wrapper .services__plan--e .f__duration p, .wrapper .services__plan--f .e__duration p,
.wrapper .services__plan--f .f__duration p {
  color: #9a837d;
  font: 100 14px "Nunito", sans-serif;
  line-height: 1.3;
}
.wrapper .services__plan--e .e__duration p span,
.wrapper .services__plan--e .f__duration p span, .wrapper .services__plan--f .e__duration p span,
.wrapper .services__plan--f .f__duration p span {
  display: inline-block;
  margin-top: -2px;
  font: 100 20px "Poppins", sans-serif;
  color: #242424;
}
.wrapper .services__plan--e .e__price,
.wrapper .services__plan--e .f__price, .wrapper .services__plan--f .e__price,
.wrapper .services__plan--f .f__price {
  align-self: flex-end;
  color: #f75d00;
  height: 55px;
}
.wrapper .services__plan--e .e__price p,
.wrapper .services__plan--e .f__price p, .wrapper .services__plan--f .e__price p,
.wrapper .services__plan--f .f__price p {
  text-align: right;
  line-height: 0;
}
.wrapper .services__plan--e .e__price p span,
.wrapper .services__plan--e .f__price p span, .wrapper .services__plan--f .e__price p span,
.wrapper .services__plan--f .f__price p span {
  font: 600 45px "Poppins", sans-serif;
}

.by--me {
  position: fixed;
  bottom: 2%;
  right: 1%;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 20px;
  color: #2f1a19;
}
.by--me img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.by--me span:not(:last-child) {
  margin-right: 10px;
}
.by--me span i {
  color: red;
}
.by--me span a {
  color: lightslategray;
  letter-spacing: 1.2px;
}


.wrapper .services__plan--e .e__info h2, .wrapper .services__plan--e .f__info h2, .wrapper .services__plan--f .e__info h2, .wrapper .services__plan--f .f__info h2 {
  font: 100 20px "Poppins", sans-serif  !important;
  color: #f75d00 !important;
}
.wrapper > .services__plan--f > .f__info{
  text-align: left !important;
}

.f__info  h2{
text-align:  left;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
}





.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
  width: 30%;
  float: left;
  min-width: 200px;
}

.solution_cards_box .solution_card:hover {
  background: #309df0;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}

.solution_card .so_top_icon {
}

.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.our_solution_content p {
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }
}

.buton_nar{
  background-color: #f75d00;
    height: 45px;
    line-height: 45px;
    font-weight: bold;
    color: #fff !important;
    padding: 0 25px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    text-transform: capitalize;
}
